<h1><%= @gallery.name %></h1>

<div id="artists">
  <% @gallery.artists.each do |artist| %>
    <div class="artist">
      <div class="image_placeholder"></div>
      <div class="name"><%= artist.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_gallery_artist_path(@gallery, artist) %> |
        <%= link_to "remove", [@gallery, artist], confirm: "Are you sure?", method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Add an Artist", new_gallery_artist_path(@gallery) %> |
  <%= link_to "Remove Gallery", @gallery, confirm: "Are you sure?", method: :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>
